<h1 class="travel-plan-edit">Travel Plan Edit Page</h1>

<% if  @travelplan.is_international == false %>
	<h3>Type: <%= "Domestic Trip" %></h3>

<% elsif @travelplan.is_international == true %>
	<h3>Type: <%= "International" %></h3>
<% end %>
	<h3>Departure: <%= @travelplan.departure_city %> , <%= @travelplan.departure_country %></h3>
	<h3>Destination: <%= @travelplan.destination_city %> , <%= @travelplan.destination_country %></h3>
	<h3>Date: <%= @travelplan.start_date.to_date %> ~ <%= @travelplan.end_date.to_date %></h3>

	<h3> Travel Plan Details: </h3><br>
	<table class="travel-plan-detail">
		<caption></caption>
		<thead>
			<tr>
				<th>category</th>
				<th>notes</th>
				<th>estimated amt</th>
				<th>actual expense</th>
				<th>created</th>
				<th>updated</th>
				<th>upload receipt</th>
				<th>edit entry</th>
			</tr>
		</thead>
		<tbody>
		<% @entries.each do |entry| %>
			<tr name=>
				<td><%= Subcategory.find(entry.subcategory_id).subcategory_name %></td>
				<td><input type="text" id="entry-notes" value="<%= entry.notes %>"></input></td>
				<td><input type="text" id="entry-estimated-amount" value="<%= entry.estimated_amount %>"></input></td>
				<td><input type="text" id="entry-actual-expense" value="<%= entry.actual_expense %>"></input></td>
				<td><%= entry.created_at.to_date %></td>
				<td><%= entry.updated_at.to_date %></td>
				<td><%= form_for @user do |f| %>
  						<%= f.file_field :picture %>
						<% end %>
				</td>
				<td>
					<button class='travel-plan-page-update-button' id='<%=entry.id%>'>update</button></td>
			</tr>
		</tbody><tr><tr><tr><tr><tr>
		<% end %>
	</table><br></br>
