<div class="panel panel-success">
<h1 class="panel-heading"><%= @category.category_name.capitalize %></h1>
	<div> 
		Total Estimated: <%= @total_estimated %>
	</div>
	<div> 
		Total Expenses: <%= @total_expense %>
	</div>

	<h3> Details: </h3><br>
	<table class="table table-striped">
		<caption></caption>
		<thead>
			<tr>
				<th>category</th>
				<th>notes</th>
				<th>estimated amt</th>
				<th>actual expense</th>
				<th>created</th>
				<th>updated</th>
			</tr>
		</thead>
				<tbody>
				<% @entries.each do |entry| %>
					<tr>
						<td><%= Subcategory.find(entry[0].subcategory_id).subcategory_name %></td>
						<td><%= entry[0].notes %></td>
						<td><%= entry[0].estimated_amount %></td>
						<td><%= entry[0].actual_expense %></td>
						<td><%= entry[0].created_at.to_date %></td>
						<td><%= entry[0].updated_at.to_date %></td>
					</tr>
				</tbody>
				<% end %>
</div>

